//styles for tasks block
.tasks {
  flex-grow: 1;

  background: color(wild-sand);
}

.tasks__container {
  position: relative;
}

.tasks__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  padding: 0 39px;

  background: color(gallery);
}

.tasks__heading {
  margin: 0;
  padding: 0;

  color: color(ebony-clay);
  font-family: 'HelveticaNeueLTStd Bold';
  font-size: 25px;
  line-height: 1;
}

.tasks__options {
  display: flex;
  margin: 0;
  padding: 0;
}

.tasks__option {
  margin-right: 15px;

  cursor: pointer;

  list-style-type: none;

  &:last-child {
    margin-right: 0;
  }
}

.tasks__option__icon {
  position: relative;

  color: color(ebony-clay);
  font-size: 30px;

  &::after {
    display: none;
    position: absolute;
    top: -17px;

    // right: -193%;
    // width: 88px;
    padding: 5px 10px;

    border-radius: 4px;

    background: color(java);

    color: color(whitecol);
    font-size: 12px;
    text-align: center;

    content: 'tooltip';
  }

  &:hover {
    &::after {
      display: inline-block;
    }
  }
}

//styles for tooltip for task__option delete item
.tasks__option__icon_ttip_del {
  &::after {
    left: 100%;

    content: 'Delete Tasks';
  }
}

.tasks__option__icon_ttip_add {
  &::after {
    right: 100%;

    content: 'Add Task';
  }
}

//styles for deletion panel
.tasks__deletion-panel {
  display: flex;
  position: absolute;
  top: 60px;
  right: 20px;

  > * {
    margin-right: 10px;
  }

  > :last-child {
    margin-right: 0;
  }
}

.tasks__deletion-panel__button {
  // display: flex;
  display: none;
  align-items: center;
  padding: 5px 10px;

  border-radius: 4px;

  background: color(dove-gray);

  color: color(whitecol);

  cursor: pointer;
}

.tasks__deletion-panel__button_bg_delete {
  background: color(sunset-orange);
}

.tasks__deletion-panel__button_bg_cancel {
  background: color(cornflower-blue);
}

.tasks__deletion-panel__icon {
  margin-right: 10px;

  font-size: 20px;
}

.tasks__tags {
  margin-bottom: 43px;
  padding: 0 39px;
  padding-top: 21px;
}

.tasks__tags__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.tasks__tags__item {
  margin-right: 34px;

  color: rgba(color(dove-gray), .89);
  font-family: 'HelveticaNeueLTStd Bold';
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;

  cursor: pointer;

  list-style-type: none;

  &:last-child {
    margin-right: 0;
  }
}

.tasks__tags__item_is_active {
  color: color(ebony-clay);
}

.tasks__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 34px;
}

.tasks__item {
  position: relative;
  width: 304px;
  height: 184px;
  margin-right: 30px;
  margin-bottom: 35px;
  padding: 28px 16px;

  border-radius: 4px;

  background: color(cornflower-blue);
}

//styles used in moments of adding or removing items
.tasks__item.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

.tasks__item.ng-enter.ng-enter-active {
  opacity: 1;
}

.tasks__item.ng-leave {
  animation :0.5s tasks__item-leave-anim;
}

@keyframes tasks__item-leave-anim {
  from { opacity:1; }
  to { opacity:0; }
}

.tasks__item__heading {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: color(wild-sand);
  font-family: 'HelveticaNeueLTStd Bold';
  font-size: 30px;
  line-height: 1;
  text-transform: capitalize;
}

.tasks__item__tag {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  color: color(wild-sand);
  font-family: 'HelveticaNeueLTStd Roman';
  line-height: 1;
  text-transform: lowercase;
}

.tasks__item__desc {
  height: 48px;
  margin: 0;
  padding: 0;

  color: color(wild-sand);
  font-family: 'HelveticaNeueLTStd Roman';
  line-height: 1.2;

  text-overflow: ellipsis;
  overflow: hidden;

  -webkit-line-clamp: 3;
}

.tasks__item__icon-favorite {
  position: absolute;
  top: 25px;
  right: 38px;

  color: rgba(color(ebony-clay), .5);
  font-size: 25px;

  cursor: pointer;
}

.tasks__item__icon-favorite_is_checked {
  color: color(golden-tainoi);
}

.tasks__item__delete-check {
  display: none;
  position: absolute;
  top: -25px;
  right: -25px;
  width: 30px;
  height: 30px;
}

.tasks__item__checkbox {
  display: none;

  &:checked {
    & + .tasks__item__label {
      @extend .icon-tasks__item-checkbox-checked-img;
    }
  }

  &:not(:checked) {
    & + .tasks__item__label {
      @extend .icon-tasks__item-checkbox-unchecked-img;
    }
  }
}

.tasks__item__label {
  display: block;
  width: 30px;
  height: 30px;

  cursor: pointer;
}

//classes for different background colors for tasks items
.tasks__item_bg_ship-cove {
  background: color(ship-cove);
}

.tasks__item_bg_cornflower-blue {
  background: color(cornflower-blue);
}

.tasks__item_bg_saffron-mango {
  background: color(saffron-mango);
}

.tasks__item_bg_wisteria {
  background: color(wisteria);
}

.tasks__item_bg_sunset-orange {
  background: color(sunset-orange);
}

.tasks__item_bg_bermuda {
  background: color(bermuda);
}

.tasks__item_bg_sunglow {
  background: color(sunglow);
}

.tasks__item_bg_java {
  background: color(java);
}

.tasks__item_bg_mantis {
  background: color(mantis);
}

//----------------------------------------------------------
//spesial class to show delete tasks items controls
.tasks_show_del-controls {
  .tasks__deletion-panel__button {
    display: flex;
  }

  .tasks__item__delete-check {
    display: inline-block;
  }
}

//-------------------------------------------------------------
//styles for modal window used for adding new tasks items
.tasks__modal-window {
  padding: 50px;
}

.tasks__modal-header {
  margin-bottom: 25px;
}

.tasks__modal-title {
  margin: 0;
  padding: 0;

  color: color(ebony-clay);
  font-family: 'HelveticaNeueLTStd Roman';
  font-size: 30px;
  line-height: 1;
}

.tasks__modal-body {
  margin-bottom: 25px;
}

.tasks__modal-group {
  margin-bottom: 25px;
}

.tasks__modal-group_margin_small {
  margin-bottom: 10px;
}

.tasks__modal-label {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  color: color(ebony-clay);
  font-family: 'HelveticaNeueLTStd Roman';
  font-size: 16px;
  line-height: 1;
}

.tasks__modal-input {
  width: 250px;
  padding: 4px 20px;

  border: solid 1px lighten(color(ebony-clay), 60%);
  border-radius: 4px;

  color: color(ebony-clay);
  font-family: 'HelveticaNeueLTStd Roman';
  font-size: 14px;

  &:focus {
    border: solid 1px color(ebony-clay);
    outline: none;
  }
}

.tasks__modal-input.ng-invalid.ng-touched {
  border: solid 1px color(alizarin-crimson);

  box-shadow: 0 0 5px color(alizarin-crimson);
}

.tasks__modal-tags-container {
  display: flex;

  > * {
    margin-right: 5px;
  }

  > *:last-child {
    margin-right: 0;
  }
}

.tasks__modal-tag {
  padding: 2px 5px;

  border-radius: 4px;

  background: color(cadet-blue);

  color: lighten(color(cadet-blue), 80%);
  font-family: 'HelveticaNeueLTStd Roman';
  font-size: 12px;

  cursor: pointer;
}

.tasks__modal-footer {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-right: 10px;
  }

  > *:last-child {
    margin-right: 0;
  }
}

.tasks__modal-button {
  align-items: right;

  padding: 5px 10px;

  border: 0;
  border-radius: 4px;

  background: color(dove-gray);

  color: color(whitecol);
  font-family: 'HelveticaNeueLTStd Roman';
  font-size: 14px;

  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }
}

.tasks__modal-button_bg_cancel {
  background: color(sunset-orange);
}

.tasks__modal-button_bg_add {
  position: relative;

  background: color(cornflower-blue);

  &:disabled {
    background: color(cadet-blue);

    cursor: not-allowed;

    &:hover,
    &:focus {
      &:after {
        display: block;
      }
    }
  }

  &:after {
    display: none;
    position: absolute;
    top: -47px;
    right: -10%;
    width: 115px;
    padding: 5px;

    border-radius: 4px;

    background: color(cadet-blue);

    color: lighten(color(cadet-blue), 30%);
    font-size: 12px;

    content: 'please, fill out all the input values';
  }
}

.tasks__modal-button__icon {
  margin-right: 5px;
}
