<aside class="side-bar">
  <div class="side-bar__container">
    <ul class="side-bar__menu">

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-tachometer side-bar__link__icon"></i>
          <span class="side-bar__link__text">Dashboard</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-bar-chart side-bar__link__icon"></i>
          <span class="side-bar__link__text">Chart</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-line-chart side-bar__link__icon"></i>
          <span class="side-bar__link__text">Tasks</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-comment side-bar__link__icon"></i>
          <span class="side-bar__link__text">Comments</span>
          <span class="side-bar__link__counter">1</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-cog side-bar__link__icon"></i>
          <span class="side-bar__link__text">Settings</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-star side-bar__link__icon"></i>
          <span class="side-bar__link__text">Feedback</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-link side-bar__link__icon"></i>
          <span class="side-bar__link__text">Links</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-share-alt side-bar__link__icon"></i>
          <span class="side-bar__link__text">Social</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-envelope side-bar__link__icon"></i>
          <span class="side-bar__link__text">Mail</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-trophy side-bar__link__icon"></i>
          <span class="side-bar__link__text">Achievements</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <i class="fa fa-power-off side-bar__link__icon"></i>
          <span class="side-bar__link__text">Logout</span>
          <i class="fa fa-chevron-right side-bar__link__icon side-bar__link__icon_format_go"></i>
        </a>
      </li>

    </ul>
    <span class="side-bar__collapse">
      <i class="fa fa-play-circle side-bar__collapse__icon"></i>
      <span class="side-bar__collapse__text">Collapse Menu</span>
    </span>
  </div>
</aside>
