//base styles for whole application

body {
  min-width: 320px;

  font-family: 'HelveticaNeueLTStd Roman', 'Arial', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

//wraper-conteiner for content
.app-container {
  max-width: 1366px;
  margin: 0 auto;
}

//container-wrapper for main content and aside block of the page
.main-container {
  display: flex;
}

.views-container {
  flex-grow: 1;
}
