//IN THIS FILE PLACED COLOR PALETTES FOR DIFFERENT COLOR THEMES
//you can change color of the web page by replacing value of the $currentPalette and $alternativePalette variables with name of other palletes listed below.


$color-palette-default: (
  ebony-clay: #1f232c,
  whisper: #fafafc,
  whitecol: #fff,
  silvercol: #c4c4c4,
  alizarin-crimson: #e52435,
  casablanca: #f6bb42,
  cadet-blue: #afb5c2,
  charade: #232730,
  piper: #c96d23,
  gallery: #eee,
  dove-gray: #6d6d6d,
  wild-sand: #f6f6f6,
  ship-cove: #7c95be,
  golden-tainoi: #ffc555,
  cornflower-blue: #66b7f0,
  saffron-mango: #f7c055,
  wisteria: #9972b5,
  sunset-orange: #ff503f,
  bermuda: #73d7d1,
  sunglow: #ffc32e,
  java: #1fb5ac,
  mantis: #8cc152,
  your-pink: #ffbaba,
  monza: #d8000c
);

$color-palette-dark: (
	headerBackgroundC: green
);

$current-palette: $color-palette-default;

$alternative-palette: $color-palette-dark;


//*** FUNCTION FOR GETTING COLOR FROM COLOR MAPS WITHOUT NESTED MAPS
@function color($key) {
  @if not map-has-key($current-palette, $key) {
    @warn "Key `#{$key}` not found in $colors map.";
  }
  @return map-get($current-palette, $key);
}
// example: color: color(primary);

@function color-alt($key) {
  @if not map-has-key($alternative-palette, $key) {
    @warn "Key `#{$key}` not found in $colors map.";
  }
  @return map-get($alternative-palette, $key);
}
// example: color: colorAlt(primary);
