.icon-tasks__item-checkbox-checked-img {
  background-image: url(../images/sprites.png);
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
}
.icon-tasks__item-checkbox-unchecked-img {
  background-image: url(../images/sprites.png);
  background-position: -60px 0px;
  width: 30px;
  height: 30px;
}
